body {
  text-align: center;
    background-color: #81F781;
    font-family: Verdana;
}

.welcome {
    padding-top: 40vh;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

.nav {
  display: block;
  color: white;
  text-align: center;
  padding: 18px 20px;
  text-decoration: none;
}

.nav:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #3ADF00;
}

img {
  border-radius: 12px;
  margin-left: 3%;
}

div.erfassen{
  position: fixed;
  left: 37%;
  border: 3px solid #73AD21;
}
div.anzeigen{
  position: fixed;
  right: 35%;
  border: 3px solid #73AD21;
}

div.erfassung{
    position: fixed;
    right: 45%;
}
div.bearbeitung{
    position: fixed;
    right: 45%;
}
