body {
  text-align: center;
    background-color: #81F781;
    font-family: Verdana;
}

.welcome {
    padding-top: 40vh;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}

li {
  float: left;
}

.nav {
  display: block;
  color: white;
  text-align: center;
  padding: 18px 20px;
  text-decoration: none;
}

.nav:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #3ADF00;
}

img {
  border-radius: 12px;
  margin-left: 3%;
}

div.erfassen{
  position: fixed;
  left: 35%;
  border: 3px solid #73AD21;
}

div.anzeigen{
  position: fixed;
  right: 35%;
  border: 3px solid #73AD21;
}

div.erfassung{
    position: fixed;
    right: 45%;
}
div.bearbeitung{
    position: fixed;
    right: 45%;
}

table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

table th {
  border: 3px solid #81F781;
  border-radius: 3px;
  padding: 8px;
}
table td{
  padding: 8px;
}

table tr:hover {background-color: #ddd;}


table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}
input, select{
    background: white;
    color: black;
    border-color: black;
    border: none;
    border-radius: 3px;
    padding: 5px;
    margin:5px;
 }
 select:disabled, input:read-only{
   background: #ddd;
 }

 input[type="submit"]{
   padding: 10px;
 }

input[type="submit"]:hover{
  background: #ddd;
}

fieldset{
  align-content: white;
  border-style: solid;
  border-color: black;
  border-radius: 5px;
}

a{
  text-decoration: none;
}

.titel{
    color: inherit;
    cursor: pointer;
    text-decoration: none;
}

.error-msg {
    display: inline-block;
    padding: .1em .6em;
    border-radius: 4px;
    font-size: 12px;
    margin-left: 10px;
    position: relative;
    top: -2px;
    background: #0B610B;
    color: #fff;
}
